.mb-3{
    margin: 30px;
}

.footer_background-contacto{
    display:flex;

    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;


}

.titulo-formulario{
    display: flex;
font-size: 300;
font-weight: 400;
padding: 20px;
justify-content: center;
align-items: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}