.instagram{
    position:fixed;
    right: 10px;
    top: 0%;
    font-size: 0.5rem;
    }
    
    .instagram img{
    width: 30px;
    height:30px
    }
    
    .instagram ul li{
    list-style-type: none;
    }

    @media(min-width:1024px){
    .instagram{
        position:absolute;
        right: 10px;
        top: 0%;
        font-size: 0.5rem;
        }
    }


    /* ------------BOTON LEER MAS-------------*/
    
.articulo__boton--leer-mas{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    background: rgb(224, 110, 110);
    color:rgb(247, 247, 247);
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    }
    
    .articulo__boton--leer-mas::after{
    content: "";
    width: 100%;
    height: 100%;
    background:#f52148;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    transition: .3s ease-in-out;
    
    }
    
    .articulo__boton--leer-mas span {
    position: relative;
    z-index: 2;    
    transition: .3s ease all;
    }
    
    .articulo__boton--leer-mas:hover::after{
    top: 0;
    
    }


.redes-sociales{
height: 100px;
margin: 0;
    }

.redes-sociales img{
width: 45px;
height: 45px;    
}    

.redes-sociales ul{
text-align: center;
padding-top: 10px;
padding-left: 0px;
}   

.redes-sociales ul li{
display: inline-block;
}

.redes-sociales ul li a{
padding: 10px;

}